* {
    font-family: 'Quicksand', sans-serif;
}

.body {
    background-color: rgb(245, 241, 233);
    height: 100vh !important;
   
}

.bulk {
    overflow-x: hidden;
    background-color: rgb(245, 241, 233);
    height: 100vh !important;
}

.settings {
    color: rgb(255, 153, 0) !important;
}


.profile {
    font-family: Quicksand;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
    /* identical to box height */
    color: #000000;

}

.para {
    font-family: Quicksand;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
/* identical to box height */
    color: #818181;

}

.profile2 {
    font-family: Quicksand;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
/* identical to box height */
    color: #000000;
}

.para2 {
    font-family: Quicksand;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
/* identical to box height */
    color: #818181;
}




/* Medium devices (landscape tablets, 768px and up)*/
@media only screen and (min-width: 768px) {

    .contain {
        position: absolute;
        width: 180px;
        height: 500px;
    }

    .row1 {
        display: flex; 
        margin-left: 30px;
        height: 30px;
        position: relative;
        top: 15px;
    }

    #row2 {
        height: 140px;
        position: relative;
        top: 30px;

    }

    .data {
        position: relative;
        bottom: 70px;
        left: 90px;
    }

    .finish {
        width: 100px !important;
        margin-left: 40px;
    }

    .ex {
       display: none; 
    }

    .closebtn {
        display: none; 
    }

    .open {
       display: none;
    }

    #size {
        position: relative;
        background-image: url('https://res.cloudinary.com/not-set/image/upload/v1623079701/futurelabs/Ellipse_15_xlcora.png');
        background-repeat: no-repeat;
        width: 100px;
             
    }

    .pa {
        position: relative;
        top: 60px;
        /* width: 270px; */
        right: 50px;
    }

    #card-box {
        margin-left: 264px;
        width: 1000px;
        position: relative;
        top: 85px;
        
    }

    

}
/* laptop ends here */


.bulk {
    background-color: rgb(229, 229, 229);
}

#card-box {
    background-color: rgb(248, 249, 250);
}

/* Phone begins here */


/* Small devices (portrait tablets and large phones, 600px and up)*/
@media only screen and (max-width: 600px) {

    .contain {
        height: 100%;
        width: 0;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
        background-color: #111;
        overflow-x: hidden;
        transition: 0.5s;
        padding-top: 60px;
    }
      
    .contain a {
        padding: 8px 8px 8px 32px;
        text-decoration: none;
        font-size: 25px;
        color: #818181;
        display: block;
        transition: 0.3s;
    }
      
    .contain a:hover {
        color: #f1f1f1;
    }
      
    .contain .closebtn {
        position: absolute;
        top: 0;
        right: 25px;
        font-size: 36px;
        margin-left: 50px;
    }
      
    .main {
        transition: margin-left .5s;
        padding: 16px;
    }

    .open {
        position: fixed;
    }

    .finish {
        width: 100px !important;
        margin-left: 55px;
        margin-bottom: 10px;
    }

    .open {
        position: absolute !important;
    }

    #size {
        margin-left: 120px;
    }

    .row1 {
        position: relative;
        top: 10px;
        display: flex;
        flex-direction: row;
        padding-left: 35px;
        
    }

    #row2 {
        padding-top: 40px !important;
    }

    .bar {
        width: auto;
        font-family: Quicksand;
        font-style: normal;
        font-weight: bold;
        font-size: 15px;
        line-height: 16px;
        color: #FFFFFF;
    }

}

.bar-grey {
    background-color: rgb(229, 229, 229);
}

@media screen and (max-height: 450px) {
    .contain {padding-top: 15px;}
    .contain a {font-size: 18px;}
}

.finish {
    background-color: rgb(255, 153, 0) !important;
}
      
.finish:hover {
    color: rgb(255, 153, 0) !important;
    background-color: black !important;
}


.one-man {
    height: 235px;
    background-color: rgb(0, 0, 0);
    border-bottom-color: grey;
    border-style: solid;
}

.one-man:hover {
   border-style: solid;
   border-color: rgb(255, 153, 0);
}

.avatar {
    /* background-size: 500px; */
}

.same:hover {
    border-style: solid;
    border-color: rgb(255, 153, 0);
}

.manny {
    margin-top: 116px;
}

#settings {
    border-bottom-color: rgb(255, 153, 0);
}

.same {
    height: 85px;
    background-color: black !important;
    border-bottom-color: grey;
    border-style: solid;  
}

.same-last {
    height: 85px;
    background-color: black !important;
    border-bottom-color: grey;
    border-style: solid;  
}

.sidetext {
    font-family: Quicksand;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
/* identical to box height */
    color: #818181;
}
  