   .firstSection {
    background-image: url('https://res.cloudinary.com/not-set/image/upload/v1618843674/futurelabs/Rectangle_3_2_c9ygpj.png'); 
    height: 100vh;
    }
    
    .secondSection {
    background-image: url('https://res.cloudinary.com/not-set/image/upload/v1619619375/futurelabs/Rectangle_2_8_ghforc.png');
    height: 100vh;
    }
    
    
    .thirdSection {
    background-image: url('https://res.cloudinary.com/not-set/image/upload/v1619619867/futurelabs/Rectangle_2_10_pkjbbz.png');
    height: 100vh;
    }
    
    .fourthSection {
    background-image: url('https://res.cloudinary.com/not-set/image/upload/v1618911810/futurelabs/Frame_2_1_e8xhqd.png');    
    height: 100vh;
    }
    
    .fifthSection {
    background-image: url('https://res.cloudinary.com/not-set/image/upload/v1618911991/futurelabs/Rectangle_5_je2bsb.png');    
    height: 100vh;
    }
    
    
    